main {
    text-transform: uppercase;
}

/* First Column */
.first {
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 400;
    font-size: 28px;
    line-height: 34px;
    letter-spacing: 4.725px;
    color: #ffffff;
}
.first span {
    margin-right: 20px;
    font-weight: 700 !important;
}
.first img {
    max-width: 445px;
    width: 100%;
}

/* Second Column */
.second {
    font-weight: 400;
    margin-top: auto;
}
.tabs {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2.7px;
    color: #FFFFFF;
    padding-bottom: 20px;
    cursor: pointer;
    margin-bottom: 20px;
}
.active {
    border-bottom: 2px solid #ffffff;
}
.second h1 {
    font-family: 'Bellefair', serif;
    font-size: 100px;
    line-height: 115px;
    color: #FFFFFF;
}
.second hr {
    height: 1px;
    border: none;
    background-color: #383B4B;
}
.description {
    font-family: 'Barlow';
    font-size: 18px;
    line-height: 32px;
    color: #D0D6F9;
}
.last {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.last div {
    margin-bottom: 30px;
}
.last div p:first-of-type {
    font-family: 'Barlow Condensed';
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 2.3625px;
    color: #D0D6F9;
}
.last div p:last-child {
    font-family: 'Bellefair', serif;
    font-size: 28px;
    line-height: 32px;
    text-transform: uppercase;
    color: #FFFFFF;
}




@media (min-width: 768px) and (max-width: 991px) {
    .first {
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 3.375px;
        text-align: center;
    }
    .first p {
        text-align: left;
    }
    .first img {
        position: relative;
        max-width: 300px;
        width: 100%;
        margin-top: 20px !important;
    }
    .wrapper {
        margin-top: 30px;
        display: flex;
        justify-content: center;
    }
    .second h1 {
        font-size: 80px;
        line-height: 92px;
        text-align: center;
    }
    .description {
        font-size: 16px;
        line-height: 28px;
        text-align: center;
    }
    .last div p:first-of-type {
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        letter-spacing: 2.3625px;
    }
    .last div p:last-child {
        font-size: 28px;
        line-height: 32px;
        text-align: center;
    }
}
@media (min-width: 576px) and (max-width: 767px) {
    .first {
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 3.375px;
        text-align: center;
    }
    .first img {
        position: relative;
        max-width: 300px;
        width: 100%;
        margin-top: 20px !important;
    }
    .wrapper {
        margin-top: 30px;
        display: flex;
        justify-content: center;
    }
    .second h1 {
        font-size: 80px;
        line-height: 92px;
        text-align: center;
    }
    .description {
        font-size: 16px;
        line-height: 28px;
        text-align: center;
    }
    .last {
        flex-direction: column;
    }
    .last div p:first-of-type {
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        letter-spacing: 2.3625px;
    }
    .last div p:last-child {
        font-size: 28px;
        line-height: 32px;
        text-align: center;
    } 
}
@media (max-width: 575px) {
    .first {
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 2.7px;
        text-align: center;
    }
    .first img {
        position: relative;
        max-width: 170px;
        width: 100%;
        margin-top: 20px !important;
    }
    .wrapper {
        margin-top: 30px;
        display: flex;
        justify-content: center;
    }
    .second h1 {
        font-size: 56px;
        line-height: 64px;
        text-align: center;
    }
    .description {
        font-size: 15px;
        line-height: 25px;
        text-align: center;
    }
    .last {
        flex-direction: column;
    }
    .last div p:first-of-type {
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        letter-spacing: 2.3625px;
    }
    .last div p:last-child {
        font-size: 28px;
        line-height: 32px;
        text-align: center;
    } 
}
